@{
    ViewData["Title"] = "Consultar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Siscan_Vc_DAL.DataContext
@model List<Siscan_Vc_AppWeb.Models.ViewModels.ViewModelSeguimiento>
<div id="wrapper">





    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">



            <div class="container-fluid">
                <br />
                <div class="col py-3">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="fondomenu py-3 px-5 ">
                            <h1>Consultar</h1>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="list-group">
                                <label for="inputFiltro" class="form-label">Digite el nombre del Aprendiz</label>
                                <input class="form-control" list="Empresas" name="Empresa" id="inputEmpresa" placeholder="Buscar...">
                                <datalist id="Empresas">
                                    @*  @foreach (var nombreEmpresa in ViewBag.nombreEmpresa)
                                    {
                                    <option value="@nombreEmpresa"></option>

                                    } *@
                                </datalist>


                            </div>
                        </div>
                    </div>
                    <!-- Page Heading -->
                    <!-- Content Row -->
                    <br />

                    <div class="row">

                        <!-- Area Chart - Ventas de los ultimos 7 días -->
                        <div class="col-xl-6 col-lg-5" style="width:522px">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="fondomenu py-3 px-5">
                                    <img src="~/img/lista-de-verificacion.png" alt="Alternate Text" width="50" />
                                    <h6 class="m-0 text-uppercase font-weight-bold text-white ">Aprendiz</h6>

                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="" style="height: 400px !important ;">

                                        <div class="list-group py-3" id="list-container">
                                           @*  @foreach (var item in Model)
                                            {
                                                <a href="#" class="list-group-item list-group-item-action aprendiz-link" data-aprendiz-id="@item.IdSeguimiento">
                                                   @item.NombreAprendiz
                                                </a>
                                            } *@
                                        </div>

                                        <div class="pagination justify-content-end" id="pagination">
                                            <button class="page-link" id="prev" onclick="prevPage()">Anterior</button>
                                            <span>Página @ViewBag.CurrentPage de @ViewBag.TotalPages</span>
                                            <button class="page-link" id="next" onclick="nextPage()">Siguiente</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart - Productos más vendidos-->
                        <div class="col-xl-6 col-lg-5" style="width:770px">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="fondomenu py-3 px-5 ">
                                    <img src="~/img/entrenador.png" alt="Alternate Text" width="50" />
                                    <h6 class="m-0 text-uppercase font-weight-bold text-white ">Seguimiento Aprendiz</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="list-group" style="height: 100% !important ;">
                                        <div class="card">
                                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                                <div class="col">
                                                    <div class="card">
                                                        <div class="card-body fondomenu">
                                                            <br />
                                                            <center class="m-t-30 pb-3">

                                                                <h4 id="card-title" class="m-0 text-uppercase font-weight-bold text-white">pedro</h4>
                                                                <h6 id="card-subtitle" class="card-subtitle">pascal</h6>

                                                            </center>
                                                        </div>
                                                        <div class="card-body">
                                                            <small class="text-muted">Correo: </small>
                                                            <p id="card-email">hannagover@gmail.com</p>
                                                            <small class="text-muted p-t-30 db">Telefono:</small>
                                                            <p id="card-phone">654 784 547</p>
                                                            <small class="text-muted p-t-30 db">Programa:</small>
                                                            <h6 id="card-program" class="m-0font-weight-bold text-dark">267833 Analisis y desarrollo de software</h6>
                                                            <small class="text-muted p-t-30 db">Modalidad:</small>
                                                            <h6 id="card-mode" class="m-0 text-dark">Contrato social</h6>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body row">

                                                    <div class="col pt-4">

                                                        <div>
                                                            <small class="text-muted">Coformador: </small>
                                                            <p>juan mecanico</p>
                                                        </div>
                                                        <small class="text-muted">Coformador: </small>
                                                        <p id="card-coformador">juan mecanico</p>
                                                        <small class="text-muted p-t-30 db">Instructor:</small>
                                                        <p id="card-instructor" class="m-0 text-dark">yasser pushaina</p>
                                                        <small class="text-muted p-t-30 db">Inicio Practicas:</small>
                                                        <p id="card-start-date" class="m-0 text-dark">10/04/2024</p>
                                                        <small class="text-muted p-t-30 db">Finaliza Practicas:</small>
                                                        <p id="card-end-date" class="m-0 text-dark">10/09/2024</p>

                                                    </div>
                                                    <div class="col pt-4">

                                                        <div>
                                                            <small class="text-muted">Coformador: </small>
                                                            <p>juan mecanico</p>
                                                        </div>
                                                        <small class="text-muted">Coformador: </small>
                                                        <p>juan mecanico</p>
                                                        <small class="text-muted p-t-30 db">Telefono:</small>
                                                        <p> 654 784 547</p>
                                                        <small class="text-muted p-t-30 db">Instructor:</small>
                                                        <p class="m-0 text-dark ">yasser pushaina</p>
                                                        <small class="text-muted p-t-30 db">Inicio Practicas:</small>
                                                        <p class="m-0 text-dark ">10/04/2024</p>
                                                        <small class="text-muted p-t-30 db">Finaliza Practicas:</small>
                                                        <p class="m-0 text-dark ">10/09/2024</p>

                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>


                    </div>
                </div>
            </div>



            @section Scripts {
                <script src="~/js/scripts.js" asp-append-version="true"></script>
                <script>

                    document.getElementById('inputFiltro').addEventListener('input', function () {
                        var filtro = this.value.toLowerCase();
                        var elementos = document.querySelectorAll('#list-container a');

                        elementos.forEach(function (elemento) {
                            var nombre = elemento.textContent.toLowerCase();
                            if (nombre.includes(filtro)) {
                                elemento.style.display = '';
                            } else {
                                elemento.style.display = 'none';
                            }
                        });
                    });

                   

                </script>
                <script>
                    const aprendizLinks = document.querySelectorAll('.aprendiz-link');

                    aprendizLinks.forEach(link => {
                        link.addEventListener('click', function (event) {
                            event.preventDefault(); // Evitar el comportamiento predeterminado del enlace (navegación)
                            const aprendizId = this.dataset.aprendizId;

                            fetch(`/Seguimiento/Show/${aprendizId}`) // Reemplazar con su controlador y acción
                                .then(response => response.json())
                                .then(data => {
                                    // Completar los elementos de la tarjeta con los datos del aprendiz (suponiendo los ID de los elementos de la tarjeta)
                                    document.getElementById('card-title').textContent = data.NombreAprendiz;
                                    document.getElementById('card-email').textContent = data.CorreoAprendiz;
                                    // ... completar otros elementos de la tarjeta
                                })
                                .catch(error => {
                                    console.error("Error al obtener los datos del aprendiz:", error);
                                });
                        });
                    });

                </script>
            }
