@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Siscan_Vc_AppWeb.Models.ViewModels.Viewmodelsegui

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header fondomenu ">
                    <h3 class="text-center font-dark-light my-4">Seguimiento </h3>
                </div>
                <form asp-action="Crear">
                    <div class="card-body">
                        @if (TempData["MensajeAlertSegui"] != null)
                        {
                            <div class="alert alert-success" role="alert"> @TempData["MensajeAlertSegui"] </div>
                            <script>
                                setTimeout(function () {
                                    window.location.href = '@Url.Action("Index", "Seguimiento")';
                                }, 3000);
                            </script>
                        }
                        @if (TempData["MensajeAlertEmpre"] != null)
                        {
                            <div class="alert alert-danger" role="alert"> @TempData["MensajeAlertEmpre"] </div>
                        }
                        @*datos del aprendiz*@
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <select asp-for="aprendiz.IdTipodocumento" asp-items="@(new SelectList(ViewBag.ItemsTipoDoc,"IdTipoDocumento","TipoDocumento1"))" class="form-control form-control-sm" id="cboTipoDocumento" readonly>
                                        <option value="">Selecciona un tipo de documento...</option>
                                    </select>
                                    <label asp-for="seguimientoinstructorAprendiz.NumeroDocumentoAprendizNavigation.IdTipodocumento">Tipo Documento</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input asp-for="aprendiz.NumeroDocumentoAprendiz" class="form-control" id="inputDocumento" type="text" readonly />
                                    <label asp-for="seguimientoinstructorAprendiz.NumeroDocumentoAprendiz">Numero de documento</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input readonly asp-for="aprendiz.NombreAprendiz" class="form-control" id="inputNombre" type="text" placeholder="Ingresa tus nombres" />
                                    <label asp-for="seguimientoinstructorAprendiz.NumeroDocumentoAprendizNavigation.NombreAprendiz">Nombres</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input readonly asp-for="aprendiz.ApellidoAprendiz" class="form-control" id="inputApellidos" type="text" placeholder="Ingresa tus apellidos" />
                                    <label asp-for="seguimientoinstructorAprendiz.NumeroDocumentoAprendizNavigation.ApellidoAprendiz">Apellidos</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--datos de empresa-->
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input asp-for="seguimientoinstructorAprendiz.NitEmpresa" class="form-control" id="inputEmpresa" type="text" placeholder="Digite el nombre de la Empresa">
                                    <label asp-for="seguimientoinstructorAprendiz.NitEmpresa" class="form-label">Digite el Nit de la Empresa</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <select asp-for="seguimientoinstructorAprendiz.IdModalidad" asp-items="@(new SelectList(ViewBag.ItemsModalidad,"IdModalidad","NombreModalidad"))" class="form-control form-control-sm" id="cboModalidad">
                                        <option value="">Selecciona una Modalidad...</option>
                                    </select>
                                    <label asp-for="seguimientoinstructorAprendiz.IdModalidad">Modalidad Practicas</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input asp-for="seguimientoinstructorAprendiz.FechaInicio" class="form-control" id="FechaInicio" type="date" placeholder="name@example.com" />
                                    <label asp-for="seguimientoinstructorAprendiz.FechaInicio">Inicio</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input asp-for="seguimientoinstructorAprendiz.FechaFinalizacion" class="form-control" id="FechaFinal" type="date" placeholder="name@example.com" />
                                    <label asp-for="seguimientoinstructorAprendiz.FechaFinalizacion">Finaliza</label>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-floating mb-3 mb-md-0 py-3">
                                    <div class="form-floating mb-3">
                                        <select asp-for="seguimientoinstructorAprendiz.IdAreaEmpresa" asp-items="@(new SelectList(ViewBag.Itemsareaempresa,"IdArea","NombreArea"))" class="form-control form-control-sm" id="cboAsignacionArea">
                                            <option value="">Selecciona un Area...</option>
                                        </select>
                                        <label asp-for="seguimientoinstructorAprendiz.IdAreaEmpresa">Area de Practicas</label>
                                    </div>
                                </div>
                                <!-- Coformador -->
                                <div class="fondomenu py-3 px-5">
                                    <h6 class="m-0 text-center font-dark-light text-white "> coformador</h6>
                                </div>
                                <br />
                                <div class="form-floating mb-3 mb-md-0 py-3">
                                    <div class="form-floating mb-3">
                                        <select asp-for="seguimientoinstructorAprendiz.IdCoformador" asp-items="@(new SelectList(ViewBag.Itemscooformador,"IdCoformador","NombreCoformador"))" class="form-control form-control-sm" id="cbocoformador">
                                            <option value="">Selecciona un Coformador...</option>
                                        </select>
                                        <label asp-for="seguimientoinstructorAprendiz.IdCoformador">Coformador</label>
                                    </div>
                                </div>
                                <!-- Instructor-->
                                <div class="fondomenu py-3 px-5">
                                    <h6 class="m-0 text-center font-dark-light text-white "> Instructor</h6>
                                </div>
                                <br />
                                <div class="form-floating mb-3 mb-md-0 py-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input asp-for="seguimientoinstructorAprendiz.NumeroDocumentoInstructor" class="form-control" id="inputInstructor" type="text" placeholder="Numero Documento Instructor" />
                                            <label asp-for="seguimientoinstructorAprendiz.NumeroDocumentoInstructor">Instructor</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-4 mb-0">
                                    <div class="d-grid boton2"><button type="submit" id="confirmarRegistro" class="btn text-center btn-block" style="font-size:20px" onclick="return confirmCrear()">Registrar</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/scripts.js" asp-append-version="true"></script>
    <script>
        function confirmCrear() {
            return confirm("¿Estás seguro de que deseas Guardar?");
        }
    </script>

}

