@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Siscan_Vc_AppWeb.Models.ViewModels.Viewmodelsegui
<div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
        <div class="container-fluid">

            <!-- Page Heading -->
            <br />
            <br />
            <div class="row">
               
                    <!-- Area Chart - Ventas de los ultimos 7 días -->
                    <div class="col-xl-8 col-lg-7">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="fondomenu py-3 px-5">
                                <img src="~/img/estudiante.png" alt="Alternate Text" width="50" />
                                <h6 class="m-0 text-uppercase font-weight-bold text-white ">  Aprendices en Seguimiento</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="" style="height: 350px !important;">
                                    <table id="datatablesSimple">
                                        <thead>
                                            <tr>
                                                <th>Nombres</th>
                                                <th>Apellidos</th>
                                                <th>Documento</th>
                                                <th>ficha</th>
                                                <th>Empresa</th>

                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Name</th>
                                                <th>Position</th>
                                                <th>Office</th>
                                                <th>Age</th>
                                                <th>Start date</th>

                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            @foreach (var segui in Model.listaSeguimiento)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(a => segui.NombreAprendiz)</td>
                                                    <td>@Html.DisplayFor(a => segui.ApellidoAprendiz)</td>
                                                    <td>@Html.DisplayFor(a => segui.NumeroDocumentoAprendiz)</td>
                                                    <td>@Html.DisplayFor(a => segui.FichaAprendiz)</td>
                                                    <td>@Html.DisplayFor(a => segui.NombreEmpresa)</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- Pie Chart - Productos más vendidos-->
                <div class=" col-xl-4 col-lg-5">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="fondomenu2 py-3 px-5 ">
                            <br />
                            <h6 class="text-center m-0 font-weight-bold text-white">Registrar Aprendices</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <br />
                            <div class="list-group" style="height: 328px !important ;">

                                <form role="form">
                                    <div class="form-floating mb-3">
                                        <select asp-items="@(new SelectList(ViewBag.ItemsTipoDoc,"IdTipoDocumento","TipoDocumento1"))"  class="form-control form-control-sm" id="cboTipoDocumento">
                                            <option value="">Selecciona un tipo de documento...</option>
                                        </select>
                                        <label for="cboTipoDocumento">Tipo Documento</label>
                                    </div>
                                    <div class="form-floating mb-3 mb-md-0">
                                        <input asp-for="seguimientoinstructorAprendiz.NumeroDocumentoAprendiz" class="form-control" id="inputEmail" id="inputDocumento" type="text" placeholder="Ingresa tu numero de documento" />
                                        <label for="inputDocumento">Numero de documento</label>
                                    </div>
                                    <div class="mt-4 mb-0">
                                        <div class="d-grid boton2"><button type="button" class="btn text-center btn-block" data-bs-toggle="modal" data-bs-target="#modalForm">Registrarse</button></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
</div>
<!-- Modal -->
<div class="modal fade" id="modalForm" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header fondomenu2">

                <h4 class="modal-title " id="myModalLabel">Registro Seguimiento</h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form method="post" id="registroForm">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <select asp-items="@(new SelectList(ViewBag.ItemsTipoDoc,"IdTipoDocumento","TipoDocumento1"))" class="form-control form-control-sm" id="cboTipoDocumento">
                                    <option value="">Selecciona un tipo de documento...</option>
                                </select>
                                <label for="cboTipoDocumento">Tipo Documento</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control" id="inputDocumento" type="text" placeholder="Ingresa tu numero de documento" />
                                <label for="inputName">Numero de documento</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control" id="inputNombre" type="text" placeholder="Ingresa tus nombres" />
                                <label for="inputNombre">Nombres</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input class="form-control" id="inputApellidos" type="text" placeholder="Ingresa tus apellidos" />
                                <label for="inputApellidos">Apellidos</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">

                        <div class="col-md-6">
                            <div class="form-floating mb-3">

                                <input class="form-control" list="Empresas" name="Empresa" id="inputEmpresa" placeholder="Digite el nombre de la Empresa">
                                <datalist  id="Empresas">
                                </datalist>
                                <label for="exampleDataList" class="form-label">Digite el nombre de la Empresa</label>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <select asp-items="@(new SelectList(ViewBag.ItemsModalidad,"IdModalidad","NombreModalidad"))" class="form-control form-control-sm" id="cboModalidad">
                                    <option value="">Selecciona una Modalidad...</option>
                                </select>
                                <label for="cboModalidad">Modalidad Practicas</label>
                            </div>
                        </div>
                        <div class="form-floating mb-3 mb-md-0 py-3">
                            <div class="form-floating mb-3">
                                <select asp-items="@(new SelectList(ViewBag.Itemsasigarea,"IdAsignacionArea","IdArea"))" class="form-control form-control-sm" id="cboAsignacionArea">
                                </select>
                                <label for="cboAsignacionArea">Area de Practicas</label>
                            </div>
                        </div>
                        <!-- Acudiente -->
                        <div class="fondomenu py-3 px-5">
                            <h6 class="m-0 text-center font-dark-light text-white "> coformador</h6>
                        </div>
                        <br />
                        <div class="form-floating mb-3 mb-md-0 py-3">
                            <div class="form-floating mb-3">
                                <select asp-items="@(new SelectList(ViewBag.Itemscooformador,"IdCoformador","NombreCoformador"))" class="form-control form-control-sm" id="cbocoformador">
                                </select>
                                <label for="cboFicha">Coformador</label>
                            </div>

                        </div>
                        <!-- Pruebas tyt-->
                        <div class="fondomenu py-3 px-5">
                            <h6 class="m-0 text-center font-dark-light text-white "> Instructor</h6>
                        </div>

                        <br />
                        <div class="form-floating mb-3 mb-md-0 py-3">
                            <div class="form-floating mb-3">
                                <select class="form-control form-control-sm" id="cboInstructor">
                                </select>
                                <label for="cboFicha">Instructor Seguimiento</label>
                            </div>
                        </div>

                        <div class="mt-4 mb-0">
                            <div class="d-grid boton2"><button type="submit" id="confirmarRegistro" class="btn text-center btn-block" style="font-size:20px">Registrar</button></div>
                        </div>
                    </div>
                </form>

            </div>
            <!-- Modal Footer -->
        </div>
    </div>
</div>
<!-- Modal -->
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#confirmarRegistroBtn").click(function () {
                // Aquí puedes realizar una llamada Ajax para realizar el registro
                // Por ahora, simularemos el registro exitoso
                var registroExitoso = true; // Cambia a false para simular un registro fallido

                if (registroExitoso) {
                    // Mostrar alerta de registro exitoso
                    alert("¡Registro exitoso!");

                } else {
                    // Mostrar alerta de fallo de registro
                    alert("No se pudo completar el registro. Inténtalo de nuevo.");
                }

                // Cierra el modal
                $("#modalForm").modal('hide');
            });
        });
    </script>
}
