@{
    ViewData["Title"] = "Home";
}
@model List<Siscan_Vc_AppWeb.Models.ViewModels.ViewModelAprendiz>
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <br />
                <br />
                <!-- Content Row -->
                <div class="row">
                    <!-- Total de aprendiz -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Total de aprendices registrados
                                        </div>
                                        <div class=" mb-0 font-weight-bold text-black-800" id="totalaprendiz">@Model.Count()</div>
                                    </div>
                                    <div class="col-auto">
                                        <img src="~/img/estudiante2.png" alt="Alternate Text" width="60" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Aprendices sin contrato -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success  text-uppercase mb-1">
                                            Aprendices sin contrato
                                        </div>
                                        <div class=" mb-0 font-weight-bold text-black-800" id="sincontrato">
                                            @{
                                                int aprendSincotrato = 0;

                                                if (Model != null)
                                                {
                                                    foreach (var aprendiz in Model)
                                                    {
                                                        if (aprendiz.IdEstadoAprendiz == 1)
                                                        {
                                                            aprendSincotrato++;
                                                        }
                                                    }
                                                }
                                            }
                                            @aprendSincotrato
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <img src="~/img/plagio.png" alt="Alternate Text" width="60" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Aprendices contratados -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Aprendices contratados
                                        </div>
                                        <div class=" mb-0 font-weight-bold text-black-800" id="contratados">
                                            @{
                                                int aprenConnContrato = 0;
                                                if (Model != null)
                                                {
                                                    foreach (var aprendiz in Model)
                                                    {
                                                        if (aprendiz.IdEstadoAprendiz == 2)
                                                        {
                                                            aprenConnContrato++;
                                                        }
                                                    }
                                                }
                                            }
                                            @aprenConnContrato
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <img src="~/img/contrato.png" alt="Alternate Text" width="60" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Aprendices por certificar -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Aprendices por certificar
                                        </div>
                                        <div class=" mb-0 font-weight-bold text-black-800" id="certificar">
                                            @{
                                                int aprendzPorCertifi = 0;

                                                if (Model != null)
                                                {
                                                    foreach (var aprendiz in Model)
                                                    {
                                                        if (aprendiz.IdEstadoAprendiz == 3)
                                                        {
                                                            aprendzPorCertifi++;
                                                        }
                                                    }
                                                }
                                            }
                                            @aprendzPorCertifi
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <img src="~/img/aprender-en-linea.png" alt="Alternate Text" width="60" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Aprendices certificados -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Aprendices certificados
                                        </div>
                                        <div class=" mb-0 font-weight-bold text-black-800" id="certificados">
                                            @{
                                                int aprendzCertificado = 0;

                                                if (Model != null)
                                                {
                                                    foreach (var aprendiz in Model)
                                                    {
                                                        if (aprendiz.IdEstadoAprendiz == 4)
                                                        {
                                                            aprendzCertificado++;
                                                        }
                                                    }
                                                }
                                            }
                                            @aprendzCertificado
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <img src="~/img/certificado.png" alt="Alternate Text" width="60" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content Row -->

                <div class="row">
                    <div class="col-xl-8 col-lg-7">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="fondomenu py-3 px-5">
                                <img src="~/img/estudiante.png" alt="Alternate Text" width="50" />
                                <h6 class="m-0 text-uppercase font-weight-bold text-white ">  Aprendices</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="" style="height: 350px !important;">
                                    <table id="datatablesSimple">
                                        <thead>
                                            <tr>
                                                <th>Nombres</th>
                                                <th>Apellidos</th>
                                                <th>Documento</th>
                                                <th>ficha</th>
                                                <th>Estado</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Name</th>
                                                <th>Position</th>
                                                <th>Office</th>
                                                <th>Age</th>
                                                <th>Start date</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            @foreach (var aprendiz in Model)
                                            {
                                                <tr>


                                                    <td>@Html.DisplayFor(a => aprendiz.NombreAprendiz)</td>
                                                    <td>@Html.DisplayFor(a => aprendiz.ApellidoAprendiz)</td>
                                                    <td>@Html.DisplayFor(a => aprendiz.NumeroDocumentoAprendiz)</td>
                                                    <td>@Html.DisplayFor(a => aprendiz.Ficha)</td>
                                                    <td>@Html.DisplayFor(a => aprendiz.nomEstadoAprendiz)</td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-xl-4 col-lg-5">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="fondomenu2 py-3 px-5 ">
                                <br />
                                <h6 class="text-center m-0 font-weight-bold text-white">Aprendices por modalidad</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-pie" style="height: 350px !important ;">
                                    <!-- contratos -->
                                    <div class=" mb-4">
                                        <div class="card border-left-warning shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                            Contratos
                                                        </div>
                                                        <div class=" mb-0 font-weight-bold text-black-800" id="contratos">
                                                            @TempData["consulta"]
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- contratos -->
                                    <div class=" mb-4">
                                        <div class="card border-left-warning shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                            Proyecto
                                                        </div>
                                                        <div class=" mb-0 font-weight-bold text-black-800" id="proyecto">
                                                            @TempData["consulta2"]
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- contratos -->
                                    <div class=" mb-4">
                                        <div class="card border-left-warning shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                            Pasantia
                                                        </div>
                                                        <div class=" mb-0 font-weight-bold text-black-800" id="pasantia">
                                                            @TempData["consulta3"]
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

</div>
<!-- End of Content Wrapper -->
<!-- End of Page Wrapper -->