@{
    ViewData["Title"] = "Consultar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Siscan_Vc_AppWeb.Models.ViewModels.ModelViewProgra

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="fondomenu py-3 px-5">
                    <h6 class="m-0 text-uppercase font-weight-bold text-white ">Programas</h6>
                </div>
                <br />
                <br />
                <div class="col-md-6 py-3 px-5">
                    <form method="get" class="d-none d-md-inline-block form-inline mb-4" asp-controller="Programas" asp-action="Consultar">
                        <div class="input-group">
                            <input class="form-control" name="codigo" type="text" placeholder="Codigo Programa..." aria-label="Codigo Programa..." aria-describedby="btnNavbarSearch" width="150" />
                            <button type="submit" class="boton" id="btnNavbarSearch">Buscar</button>
                        </div>
                    </form>
                </div>
                <div class="card-body table-responsive">
                   
                    @if (TempData["NoProgramsFound"] != null)
                    {
                        <div class="alert alert-danger" role="alert"> @TempData["NoProgramsFound"] </div>
                    }
                    <h6 style="color:#666264" class="m-0 text-uppercase font-weight-bold text-center ">Resultado de la busqueda</h6>
                    <div class="card-body table-responsive-busqueda">
                        <table class="table table-bordered mb-4" id="tbdata" cellspacing="1" style="width:100%">
                            <thead class="boton2 ms-auto">
                                <tr>
                                    <th>Codigo</th>
                                    <th>Nombres</th>
                                    <th>Estado</th>
                                    <th>Nivel</th>
                                    <th>Acciones</th>
                                    <th>ver mas...</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    bool estado = false;
                                    if (Model.programas.CodigoPrograma != null)
                                    {
                                        estado = true;
                                    }
                                    else if (Model.programas.CodigoPrograma == null)
                                    {
                                        estado = false;
                                    }
                                    if (estado)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(i => Model.programas.CodigoPrograma)</td>
                                            <td>@Html.DisplayFor(i => Model.programas.NombrePrograma)</td>
                                            <td>@Html.DisplayFor(i => Model.programas.IdEstadoProgramaNavigation.DescripcionEstadoPrograma)</td>
                                            <td>@Html.DisplayFor(i => Model.programas.IdNivelProgramaNavigation.NivelPrograma1)</td>
                                            <td>
                                                <a class="btn  btn-sm" asp-controller="Programas" asp-action="Editar" asp-route-cdg="@Model.programas.CodigoPrograma">
                                                    <img src="~/img/editar.png" alt="Alternate Text" width="25" />
                                                </a>
                                                <a class="btn btn-sm btn-eliminar" data-id="@Model.programas.CodigoPrograma">
                                                    <img src="~/img/borrar (1).png" alt="Alternate Text" width="25" />
                                                </a>
                                            </td>
                                            <td>
                                                <a class="btn btn-success" asp-action="ConsultarFicha" asp-controller="Programas" asp-route-codigo="@Model.programas.CodigoPrograma">Ver fichas..</a>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @if (TempData["instructorConsultAlert"] != null)
                                        {
                                            <div class="alert alert-danger" role="alert"> @TempData["instructorConsultAlert"] </div>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <hr />
                    @if (TempData["AlertEliminadoPrograma"] != null)
                    {
                        <div class="alert alert-success" role="alert"> @TempData["AlertEliminadoPrograma"] </div>
                    }
                    <h6 style="color:#666264" class="m-0 text-uppercase font-weight-bold text-center ">Contenido</h6>
                    <table class="table table-bordered table-responsive" id="tbdata" cellspacing="1" style="width:100%">
                        <thead class="boton2 ms-auto">
                            <tr>
                                <th>Codigo</th>
                                <th>Nombres</th>
                                <th>Estado</th>
                                <th>Nivel</th>
                                <th>Acciones</th>
                                <th>ver mas...</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model.listaprogramas != null)
                                {
                                    foreach (var i in Model.listaprogramas)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(a => i.CodigoPrograma)</td>
                                            <td>@Html.DisplayFor(a => i.NombrePrograma)</td>
                                            <td>@Html.DisplayFor(a => i.EstadoPrograma)</td>
                                            <td>@Html.DisplayFor(a => i.NivePrograma)</td>
                                            <td>
                                                <a class="btn  btn-sm" asp-controller="Programas" asp-action="Editar" asp-route-cdg="@i.CodigoPrograma">
                                                    <img src="~/img/editar.png" alt="Alternate Text" width="25" />
                                                </a>
                                                <a class="btn btn-sm btn-eliminar" data-id="@i.CodigoPrograma">
                                                    <img src="~/img/borrar (1).png" alt="Alternate Text" width="25" />
                                                </a>

                                            </td>
                                            <td>
                                                <a class="btn btn-success" asp-action="ConsultarFicha" asp-controller="Programas" asp-route-codigo="@i.CodigoPrograma">Ver fichas..</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/scripts.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('.btn-eliminar').on('click', function () {
                var confirmEliminar = confirm("¿Estás seguro de que deseas eliminar?");
                var CodigoPrograma = $(this).data('id'); // Captura el valor de data-id

                if (confirmEliminar) {
                    $.ajax({
                        url: '@Url.Action("Eliminar", "Programas")',
                        type: 'DELETE',
                        data: { Codigo: CodigoPrograma },
                        success: function (response) {
                            if (response.success) {
                                alert("¡Eliminado exitoso!");
                                location.reload();
                            } else {
                                alert(response.message);
                            }
                        },
                        error: function () {
                            alert("Se produjo un error al intentar eliminar el programa.");
                        }
                    });
                }
            });
        });
    </script>
}





