@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Siscan_Vc_DAL.DataContext
@model Siscan_Vc_AppWeb.Models.ViewModels.ModelViewProgra
<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">
                <br />
                <div class="row">
                    <div class="col-xl-6 col-lg-5">
                        <div class="card shadow mb-4">
                            <div class="fondomenu py-3 px-5">
                                <img src="~/img/graduacion.png" alt="Alternate Text" width="50" />
                                <h6 class="m-0 text-uppercase font-weight-bold text-white ">Registrar Programa</h6>
                            </div>
                            <div class="card-body">
                                @if (TempData["AlertProAdd"] != null)
                                {
                                    <div class="alert alert-success" role="alert"> @TempData["AlertProAdd"] </div>
                                }

                                @if (TempData["ValProgramExiste"] != null)
                                {
                                    <div class="alert alert-danger" role="alert"> @TempData["ValProgramExiste"] </div>
                                }

                                @if (TempData["ErrorGuardarInstrct"] != null)
                                {
                                    <div class="alert alert-danger" role="alert"> @TempData["ErrorGuardarInstrct"] </div>
                                }

                                @if (TempData["NoProgramsFound"] != null)
                                {
                                    <div class="alert alert-warning" role="alert"> @TempData["NoProgramsFound"] </div>
                                }

                                <div class="" style="height: 320px !important;">
                                    <div class="card-body">
                                        <form asp-action="Index" method="post">
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3">
                                                        <select asp-for="opcseleccionadaNivel" asp-items="@Model.listaopcNivel" class="form-control form-control-sm" id="cboNivel">
                                                            <option>Selecciona el Nivel del Programa...</option>
                                                        </select>
                                                        <label for="cboNivel">Nivel Programa</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input asp-for="programas.CodigoPrograma" class="form-control" id="inputCod" type="text" placeholder="Codigo Del Programa" />
                                                        <label for="inputCod">Codigo Del Programa</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input asp-for="programas.NombrePrograma" class="form-control" id="inputName" type="text" placeholder="Nombre Del Programa" />
                                                        <label for="inputName">Nombre Del Programa</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3">
                                                        <select asp-for="opcseleccionadaEstado" asp-items="@Model.listaopcEstado" class="form-control form-control-sm" id="cboEstado">
                                                            <option>Selecciona el Nivel del Programa...</option>
                                                        </select>
                                                        <label for="cboEstado">Estado Programa</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid boton2"><button type="submit" class="btn text-center btn-block" onclick="return confirmCrear()">Registrarse</button></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-5">
                        <div class="card shadow mb-4">
                            <div class="fondomenu py-3 px-5 ">
                                <img src="~/img/entrenador.png" alt="Alternate Text" width="50" />
                                <h6 class="m-0 text-uppercase font-weight-bold text-white ">Programas</h6>
                            </div>
                            <div class="card-body" style="overflow: auto; max-height: 350px;">
                                <div class="list-group">
                                    <table class="table table-bordered table-responsive" id="tbdata" cellspacing="1" style="width: 100%;">
                                        <thead class="boton2 ms-auto">
                                            <tr>
                                                <th>Codigo</th>
                                                <th>Nombres</th>
                                                <th>Estado</th>
                                                <th>Nivel</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                if (Model.listaprogramas != null)
                                                {
                                                    foreach (var i in Model.listaprogramas)
                                                    {
                                                        <tr>
                                                            <td>@Html.DisplayFor(a => i.CodigoPrograma)</td>
                                                            <td>@Html.DisplayFor(a => i.NombrePrograma)</td>
                                                            <td>@Html.DisplayFor(a => i.EstadoPrograma)</td>
                                                            <td>@Html.DisplayFor(a => i.NivePrograma)</td>
                                                            <td>
                                                                <a class="btn btn-success" asp-action="CrearFicha" asp-controller="Programas" asp-route-codigo="@i.CodigoPrograma">Crear Ficha</a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/scripts.js" asp-append-version="true"></script>
    <script>
        function confirmCrear() {
            return confirm("¿Estás seguro de que deseas Guardar?");
        }
    </script>
}
