<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

    <title>@ViewData["Title"] - Siscan_Vc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Siscan_Vc_AppWeb.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Estilos", required: false)

</head>
<body>
    <nav class="navbar navbar-expand  fondo">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" asp-controller="Home" asp-action="Index"><img class="img-fluid" src="~/img/logo siscan-vc.png" alt="Alternate Text" width=120 /></a>
        <!-- Sidebar Toggle-->
        <button class="boton" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>

        <div class="d-none d-md-inline-block  ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="grupo">
                <img class="img-fluid titulo" src="~/img/SISCAN-VC.png" alt="Alternate Text" width=450 />
                <h5 class="nombre">Sistema de Informacion, Seguimiento, Control, Actualizacion, Novedades <span>Validacion y Certificacion</span></h5>
            </div>
        </div>

        </div>
        <!-- Navbar Search-->
        <div class="d-none d-md-inline-block  ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <img class="img-fluid" src="~/img/image-removebg-preview.png" alt="Alternate Text" width=180 />
            </div>

        </div>

        <!-- Navbar-->

    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Home</div>
                        <a class="nav-link" asp-controller="Home" asp-action="Index">
                            <div class="sb-nav-link-icon"><img src="~/img/casa.png" alt="Alternate Text" width="26" /></div>
                            Inicio
                        </a>
                        <div class="sb-sidenav-menu-heading">Contenido</div>
                        <!-- Aprendices-->
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><img src="~/img/estudiante.png" alt="Alternate Text" width="30" /></></div>
                            Aprendices
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("Registro","Aprendiz")"> <img class="sb-nav-link-icon" src="~/img/agregar-usuario.png" alt="Alternate Text" width="25" />Registrar</a>
                                <a class="nav-link" href="@Url.Action("Consultar", "Aprendiz")"><img class="sb-nav-link-icon" src="~/img/consultar.png" alt="Alternate Text" width="25" />Consultar</a>

                            </nav>
                        </div>
                        <!-- fin Aprendices-->
                        <!-- Instructores -->
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts2" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><img src="~/img/instructor.png" alt="Alternate Text" width="30" /></></div>
                            Instructores
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts2" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("Registro","Instructor")"> <img class="sb-nav-link-icon" src="~/img/agregar-usuario.png" alt="Alternate Text" width="25" />Registrar</a>
                                <a class="nav-link" href="@Url.Action("Consultar","Instructor")"><img class="sb-nav-link-icon" src="~/img/consultar.png" alt="Alternate Text" width="25" />Consultar</a>
                            </nav>
                        </div>
                        <!-- fin Instructores-->
                        <!-- seguimiento -->
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><img class="marginLeft " src="~/img/archivo.png" alt="Alternate Text" width="20" /></div>
                            Seguimiento
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link" href="layout-static.html"> <img class="sb-nav-link-icon" src="~/img/entrenador.png" alt="Alternate Text" width="25" />Registrar</a>
                                <a class="nav-link" href="layout-sidenav-light.html"><img class="sb-nav-link-icon" src="~/img/consultar.png" alt="Alternate Text" width="25" />Consultar</a>

                            </nav>
                        </div>
                        <!-- fin seguimiento-->
                        <!-- Empresa -->
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages2" aria-expanded="false" aria-controls="collapsePages2">
                            <div class="sb-nav-link-icon"><img class="marginLeft " src="~/img/edificio-de-oficinas.png" alt="Alternate Text" width="25" /></div>
                            Empresa
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages2" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link" href="@Url.Action("Registro","Empresa")"> <img class="sb-nav-link-icon" src="~/img/departamento-de-la-compania.png" alt="Alternate Text" width="30" />Registrar</a>
                                <a class="nav-link" href="layout-sidenav-light.html"><img class="sb-nav-link-icon" src="~/img/consultar.png" alt="Alternate Text" width="25" />Consultar</a>

                            </nav>
                        </div>
                        <!-- fin Empresa -->
                       @*  <div class="sb-sidenav-menu-heading">addons</div>
                        <a class="nav-link" href="charts.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        charts
                        </a>
                        <a class="nav-link" href="tables.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        tables
                        </a> *@
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">DevTeam:</div>
                    Guido Banquet <br />
                    Dillon Duncan <br />
                    Jeider morelo

                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>


        @*    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
        <div class="text-muted">Copyright &copy; Your Website 2023</div>
        <div>
        <a href="#">Privacy Policy</a>
        &middot;
        <a href="#">Terms &amp; Conditions</a>
        </div>
        </div>
        </div>
        </footer>  *@

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
