@{
    ViewData["Title"] = "Consultar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Siscan_Vc_AppWeb.Models.ViewModels.ViewModelAprendiz>

@section Estilos {
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="fondomenu py-3 px-5">
                    <h6 class="m-0 text-uppercase font-weight-bold text-white ">  Aprendices</h6>

                </div>

                @*  <br />
                <br /> *@
                <div class="col-md-6 py-3 px-5">

                    <form class="d-none d-md-inline-block form-inline mb-4">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" width="150" />
                            <button class="boton" id="btnNavbarSearch">Buscar</button>

                        </div>

                    </form>

                </div>
                @* <br /> *@

                <div class="card-body ">
                    <table class="table table-bordered mb-4" id="tbdata" cellspacing="1" style="width:100%">
                        <thead class="boton2 ms-auto">
                            <tr>
                                <th>Tipo Documento</th>
                                <th>Documento</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Telefono</th>
                                <th>Correo</th>
                                <th>ficha</th>
                                <th>Estado Aprendiz</th>
                                <th>Estado pruebas tyt</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var aprendiz in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(a => aprendiz.IdTipodocumento)</td>
                                    <td>@Html.DisplayFor(a => aprendiz.NumeroDocumentoAprendiz)</td>
                                    <td>@Html.DisplayFor(a => aprendiz.NombreAprendiz)</td>
                                    <td>@Html.DisplayFor(a => aprendiz.ApellidoAprendiz)</td>
                                    <td>@Html.DisplayFor(a => aprendiz.CelAprendiz)</td>
                                    <td>@Html.DisplayFor(a => aprendiz.CorreoAprendiz)</td>
                                    <td>@Html.DisplayFor(a => aprendiz.Ficha)</td>
                                    <td>@Html.DisplayFor(a => aprendiz.IdEstadoAprendiz)</td>
                                    <td>@Html.DisplayFor(a => aprendiz.IdEstadoTyt)</td>
                                    <td>
                                        <a class="btn  btn-sm" href="@Url.Action("Editar","Aprendiz")">
                                            <img src="~/img/editar.png" alt="Alternate Text" width="30" />
                                        </a>
                                        <a class="btn btn-sm">
                                            <img src="~/img/borrar (1).png" alt="Alternate Text" width="30" />
                                        </a>
                                    </td>
                                </tr>
                            }



                        </tbody>
                    </table>
                    <img class="img-fluid mover1" src="~/img/aprendicesena.png" alt="Alternate Text" width="400" />
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    @* <script>
        $(document).ready(() => {
            listaAprendiz();
        })
        function listaAprendiz() {
            fetch("Aprendiz/Consultar")
                .then((response) => {
                    return response.ok ? response.json() : Promise.reject(response)
                })
                .then((dataJson) => {
                    $("#tbdata tbody").html("");
                    dataJson.forEach((item) => {
                        $("#tbdata tbody").append(
                            $("<tr>").append(
                                $("<td>").text(item.IdTipodocumento),
                                $("<td>").text(item.NumeroDocumentoAprendiz),
                                $("<td>").text(item.NombreAprendiz),
                                $("<td>").text(item.ApellidoAprendiz),
                                $("<td>").text(item.CelAprendiz),
                                $("<td>").text(item.CorreoAprendiz),
                                $("<td>").text(item.Ficha),
                                $("<td>").text(item.IdEstadoAprendiz),
                                $("<td>").text(item.IdEstadoTyt),
                                $("<td>").append(
                                    $("<a>").addClass("btn  btn-sm").data("aprendiz",item).append(
                                        $("<img>").src("~/img/editar.png")
                                    ),
                                    $("<a>").addClass("btn  btn-sm").data("aprendiz", item).append(
                                        $("<img>").src("~/img/borrar (1).png")
                                    )
                                )
                                // $("<td>").text(item.DireccionAprendiz),
                                // $("<td>").text(item.NombreCompletoAcudiente),
                                // $("<td>").text(item.CorreoAcuediente),
                                // $("<td>").text(item.CelularAcudiente),

                                // $("<td>").text(item.IdCiudad),

                                // $("<td>").text(item.IdCiudad),
                            )
                        )
                    })

                })
        }

    </script> *@
    <script src="~/js/scripts.js" asp - append - version="true"></script>

}

