@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Siscan_Vc_AppWeb.Models.ViewModels.Modelviewtytap
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header fondomenu ">
                    <img class="img-fluid mover2" src="~/img/actualizar blanco.png" alt="Alternate Text" width="40">
                    <h3 class="text-center font-dark-light my-4">Actualizar </h3>
                </div>
                <div class="card-body">
                    @if (TempData["AprendizEditBien"] != null)
                    {
                        <div class="alert alert-success" role="alert"> @TempData["AprendizEditBien"] </div>
                        <script>
                            setTimeout(function () {
                                window.location.href = '@Url.Action("Consultar", "Aprendiz")';
                            }, 3000);
                        </script>
                    }
                    @if (TempData["CodigoInscripcionSiExist"] != null)
                    {
                        <div class="alert alert-danger" role="alert"> @TempData["CodigoInscripcionSiExist"] </div>
                    }
                    <form asp-action="Editar" id="EditarForm">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <select asp-for="aprendiz.IdTipodocumento" asp-items="@(ViewBag.ItemsTipoDoc)" class="form-control form-control-sm" id="cboTipoDocumento">
                                        <option value="">Selecciona un tipo de documento...</option>
                                    </select>
                                    <label asp-for="aprendiz.IdTipodocumento">Tipo Documento</label>
                                    <span id="tipoDocumentoError" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input asp-for="aprendiz.NumeroDocumentoAprendiz" class="form-control" id="inputDocumento" type="text" placeholder="Ingresa tu numero de documento" readonly />
                                    <label asp-for="aprendiz.NumeroDocumentoAprendiz">Numero de documento</label>
                                    <span id="numeroDocumentoError" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input asp-for="aprendiz.NombreAprendiz" class="form-control" id="Name" type="text" placeholder="Ingresa tus nombres" />
                                    <label asp-for="aprendiz.NombreAprendiz">Nombres</label>
                                    <span id="NameError" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input asp-for="aprendiz.ApellidoAprendiz" class="form-control" id="inputLastName" type="text" placeholder="Ingresa tus apellidos" />
                                    <label asp-for="aprendiz.ApellidoAprendiz">Apellidos</label>
                                    <span id="inputLastNameError" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input asp-for="aprendiz.CelAprendiz" class="form-control" id="inputTelefono" type="tel" placeholder="Ingresa número de celular" />
                                    <label asp-for="aprendiz.CelAprendiz">Celular</label>
                                    <span id="telefonoError" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input asp-for="aprendiz.DireccionAprendiz" class="form-control" id="inputDireccion" type="text" placeholder="Ingresa tu direccion" />
                                    <label asp-for="aprendiz.DireccionAprendiz">Direccion</label>
                                    <span id="inputDireccionError" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input asp-for="aprendiz.CorreoAprendiz" class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />
                                    <label asp-for="aprendiz.CorreoAprendiz">Correo</label>
                                    <span id="inputEmailError" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">

                                    <select asp-for="aprendiz.IdEstadoAprendiz" asp-items="@(ViewBag.ItemsEstAprndz)" class="form-control form-control-sm" id="cboEstadoAprendiz">
                                        <option value="">Selecciona un estado...</option>
                                    </select>
                                    <label asp-for="aprendiz.IdEstadoAprendiz">Estado Aprendiz</label>
                                    <span id="cboEstadoAprendizError" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <select asp-for="aprendiz.IdCiudadNavigation.IdDepartamento" asp-items="@(ViewBag.ItemsDepartamento)" class="form-control form-control-sm" id="cboDepartamentos">
                                        <option value="">Selecciona un departamento...</option>
                                    </select>
                                    <label for="cboDepartamentos">Departamentos</label>
                                    <span id="cboDepartamentosError" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <select asp-for="aprendiz.IdCiudad" asp-items="@(ViewBag.ciudades)" class="form-control form-control-sm" id="cboCiudad">
                                        <option value="">Selecciona una ciudad...</option>
                                    </select>
                                    <label asp-for="aprendiz.IdCiudad">Ciudad</label>
                                    <span id="cboCiudadError" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <select asp-for="aprendiz.IdEstadoTyt" asp-items="@(ViewBag.ItemsEstaTYT)" class="form-control form-control-sm" id="cboEstadoPruebatyt">
                                        <option value="">Selecciona un estado...</option>
                                    </select>
                                    <label asp-for="aprendiz.IdEstadoTyt">Estado de inscripcion tyt</label>
                                    <span id="cboEstadoPruebatytError" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <select asp-for="aprendiz.FichaNavigation.CodigoProgramaNavigation.CodigoPrograma" asp-items="@(ViewBag.ItemsPrograma)" class="form-control form-control-sm" id="cboPrograma">
                                        <option value="">Selecciona un programa...</option>
                                    </select>
                                    <label for="cboPrograma">Programa</label>
                                    <span id="cboProgramaError" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <select asp-for="aprendiz.Ficha" asp-items="@(ViewBag.ficha)" class="form-control form-control-sm" id="cboFicha">
                                        <option value="">Selecciona una ficha...</option>
                                    </select>
                                    <label asp-for="aprendiz.Ficha">Fichas</label>
                                    <span id="cboFichaError" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Acudiente -->
                            <div class="fondomenu py-3 px-5">
                                <h6 class="m-0 text-center font-dark-light text-white "> Acudiente</h6>
                            </div>
                            <div class="col-md-6 py-3">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input asp-for="aprendiz.NombreCompletoAcudiente" class="form-control" id="NameAcudient" type="text" placeholder="Ingresa tus nombres" />
                                    <label asp-for="aprendiz.NombreCompletoAcudiente">Nombre completo</label>
                                    <span id="NameAcudientError" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 py-3">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input asp-for="aprendiz.CelularAcudiente" class="form-control" id="TelAcudiente" type="tel" placeholder="Ingresa tu telefono" />
                                    <label asp-for="aprendiz.CelularAcudiente">Telefono</label>
                                    <span id="TelAcudienteError" class="text-danger"></span>
                                </div>

                            </div>
                        </div>
                        <div class="form-floating mb-3 mb-md-0">
                            <input asp-for="aprendiz.CorreoAcuediente" class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />
                            <label asp-for="aprendiz.CorreoAcuediente">Correo acudiente</label>
                            <span id="EmailAcudError" class="text-danger"></span>
                        </div>
                        <!-- fin Acudiente -->
                        <br />

                        <!--Pruebas tyt-->

                        <div class="row mb-3" id="pruebatyt" style="display:none">
                            <div class="fondomenu py-3 px-5">
                                <h6 class="m-0 text-center font-dark-light text-white "> Pruebas tyt</h6>
                            </div>
                            <div class="col-md-6 py-3">
                                <div class="form-floating mb-3 mb-md-0">
                                    @{
                                        if (TempData["CodigoInscripcionExist"] != null)
                                        {
                                            <input asp-for="inscripcionTyt.CodigoInscripcion" class="form-control" id="inputcodigotyt" type="tel" placeholder="Ingresa Codigo de inscripcion" readonly />
                                        }
                                        else
                                        {
                                            <input asp-for="inscripcionTyt.CodigoInscripcion" class="form-control" id="inputcodigotyt" type="tel" placeholder="Ingresa Codigo de inscripcion" />
                                        }
                                    }
                                    <label for="inputcodigotyt">Codigo Inscripcion</label>
                                    <span id="inputcodigotytError" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 py-3">
                                <div class="form-floating mb-3 mb-md-0">
                                    <select asp-for="inscripcionTyt.IdConvocatoria" class="form-control form-control-sm" asp-items="@(ViewBag.ItemsConvocatoria)" id="cboConvocatoria">
                                        <option value="">Selecciona una Convocatoria...</option>
                                    </select>
                                    <label for="cboConvocatoria">Convocatoria</label>
                                    <span id="cboConvocatoriaError" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 py-3">
                                <div class="form-floating mb-3">
                                    <select asp-for="inscripcionTyt.IdciudadNavigation.IdDepartamento" asp-items="@(ViewBag.ItemsDepartamento)" class="form-control form-control-sm" id="cboDepartamentos2">
                                        <option value="">Selecciona un departamento...</option>
                                    </select>
                                    <label for="cboDepartamentos2">Departamentos</label>
                                    <span id="cboDepartamentos2Error" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 py-3">
                                <div class="form-floating mb-3 mb-md-0">
                                    <select asp-for="inscripcionTyt.Idciudad" asp-items="@(ViewBag.ciudades)" class="form-control form-control-sm" id="cboCiudad2">
                                        <option value="">Selecciona una ciudad...</option>
                                    </select>
                                    <label asp-for="inscripcionTyt.Idciudad">Ciudad</label>
                                    <span id="cboCiudad2Error" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <!--Fin tyt-->
                        <div class="mt-4 mb-0">
                            <div class="d-grid boton2">
                                <button type="submit" class="btn text-center btn-block" style="font-size:20px" onclick="return confirmUpdate()">Actualizar</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/scripts.js" asp-append-version="true"></script>
    <script src="~/js/validacioneditar.js" asp-append-version="true"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $('#cboDepartamentos').change(function () {
                var departamentoId = $(this).val(); // Obtener el valor seleccionado

                $.get('@Url.Action("CargarCiudades", "Aprendiz")', { departamentoId: departamentoId }, function (data) {
                    $('#cboCiudad').empty();
                    $.each(data, function (index, ciudad) {
                        $('#cboCiudad').append($('<option>',
                            {
                                value: ciudad.idCiudad,
                                text: ciudad.nombreCiudad
                            }
                        )
                        );

                    });
                });
            });
        });

        $(document).ready(function () {
            $('#cboDepartamentos2').change(function () {
                var departamentoId = $(this).val(); // Obtener el valor seleccionado

                $.get('@Url.Action("CargarCiudades", "Aprendiz")', { departamentoId: departamentoId }, function (data) {
                    $('#cboCiudad2').empty();
                    $.each(data, function (index, ciudad) {
                        $('#cboCiudad2').append($('<option>',
                            {
                                value: ciudad.idCiudad,
                                text: ciudad.nombreCiudad
                            }
                        )
                        );

                    });
                });
            });
        });


        $(document).ready(function () {
            $('#cboPrograma').change(function () {
                var programa = $(this).val();

                $.get('@Url.Action("Cargarprograma", "Aprendiz")', { programa: programa }, function (data) {
                    $('#cboFicha').empty();
                    $.each(data, function (index, ficha) {
                        $('#cboFicha').append($('<option>',
                            {
                                value: ficha.ficha1,
                                text: ficha.ficha1
                            }
                        )
                        );

                    });
                });
            });
        });
        function confirmUpdate() {
            return confirm("¿Estás seguro de que deseas Actualizar?");
        }

    </script>
    <script>
        $(document).ready(function () {
            $('#cboEstadoAprendiz').change(function () {
                var estadoAprendiz = $(this).val();
                if (estadoAprendiz === "4") {
                    $('#cboEstadoPruebatyt').prop('disabled', true);
                    $('#cboEstadoPruebatyt').val("6");
                } else {
                    $('#cboEstadoPruebatyt').prop('disabled', false);
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#cboPrograma').change(function () {
                obtenerNivelPrograma();
            });
            function obtenerNivelPrograma() {
                var programaId = $("#cboPrograma").val();

                $.ajax({
                    url: '/Aprendiz/ObtenerNivelPrograma',
                    type: 'GET',
                    data: { programaId: programaId },
                    success: function (data) {
                        if (data.nivelPrograma == "2") {
                            $("#cboEstadoPruebatyt").prop('disabled', false);
                        } else {
                            $("#cboEstadoPruebatyt").prop('disabled', true);
                            $("#cboEstadoPruebatyt").val("5");
                        }
                    },
                    error: function (error) {
                        console.error('Error al obtener el nivel del programa:', error);
                    }
                });
            }
        });
    </script>

}
