@{
    ViewData["Title"] = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Siscan_Vc_DAL.DataContext
@model Siscan_Vc_AppWeb.Models.ViewModels.Modelviewtytap


<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header fondomenu ">
                    <img class="img-fluid mover2" src="~/img/agregar-usuario.png" alt="Alternate Text" width="40">
                    <h3 class="text-center font-dark-light my-4">Registro </h3>
                </div>
                <div class="card-body">
                    @if (TempData["MensajeAlert"] != null)
                    {
                        <div class="alert alert-success" role="alert"> @TempData["MensajeAlert"] </div>
                    }
                    <form method="post" asp-action="Registro">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">

                                    <select asp-for="aprendiz.IdTipodocumento" asp-items="@(new SelectList(ViewBag.ItemsTipoDoc,"IdTipoDocumento","TipoDocumento1"))" class="form-control form-control-sm" id="cboTipoDocumento">

                                        <option value="">Selecciona un tipo de documento...</option>
                                    </select>
                                    <label for="cboTipoDocumento">Tipo Documento</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input asp-for="aprendiz.NumeroDocumentoAprendiz" class="form-control" id="inputDocumento" type="text" placeholder="Ingresa tu numero de documento"  />
                                    <label for="inputName">Numero de documento</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input asp-for="aprendiz.NombreAprendiz" class="form-control" id="inputName" type="text" placeholder="Ingresa tus nombres"  />
                                    <label for="inputName">Nombres</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input asp-for="aprendiz.ApellidoAprendiz" class="form-control" id="inputLastName" type="text" placeholder="Ingresa tus apellidos"  />
                                    <label for="inputLastName">Apellidos</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input asp-for="aprendiz.CelAprendiz" class="form-control" id="inputTelefono" type="tel" placeholder="Ingresa tu telefono"  />
                                    <label for="inputTelefono">Telefono</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input asp-for="aprendiz.DireccionAprendiz" class="form-control" id="inputDireccion" type="text" placeholder="Ingresa tu direccion"  />
                                    <label for="inputDireccion">Direccion</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input asp-for="aprendiz.CorreoAprendiz" class="form-control" id="inputEmail" type="email" placeholder="name@example.com" >
                                    <label for="inputEmail">Correo</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                   
                                    <select asp-for="aprendiz.IdEstadoAprendiz" asp-items="@(new SelectList(ViewBag.ItemsEstAprndz,"IdEstado","NombreEstado"))" class="form-control form-control-sm" id="cboEstadoAprendiz" >
                                        <option value="">Selecciona un estado...</option>
                                    </select>
                                    <label for="cboEstadoAprendiz">Estado Aprendiz</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <select asp-items="@(new SelectList(ViewBag.ItemsDepartamento,"IdDepartamento","NombreDepartamento"))" class="form-control form-control-sm" id="cboDepartamentos" >
                                        <option value="">Selecciona un departamento...</option>
                                    </select>
                                    <label for="cboDepartamentos">Departamentos</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <select asp-for="aprendiz.IdCiudad" asp-items="@(new SelectList(ViewBag.ciudades,"IdCiudad","NombreCiudad"))" class="form-control form-control-sm" id="cboCiudad" >
                                        <option value="">Selecciona una ciudad...</option>
                                    </select>
                                    <label for="cboCiudad">Ciudad</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <select asp-for="aprendiz.IdEstadoTyt" asp-items="@(new SelectList(ViewBag.ItemsEstaTYT,"IdEstadotyt","DescripcionEstadotyt"))" class="form-control form-control-sm" id="cboEstadoPruebatyt" >
                                        <option value="">Selecciona un estado...</option>
                                    </select>
                                    <label for="cboEstadoPruebatyt">Estado de inscripcion tyt</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <select asp-items="@(new SelectList(ViewBag.ItemsPrograma,"CodigoPrograma","NombrePrograma"))" class="form-control form-control-sm" id="cboPrograma" >
                                        <option value="">Selecciona un programa...</option>
                                    </select>
                                    <label for="cboPrograma">Programa</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <select asp-for="aprendiz.Ficha" asp-items="@(new SelectList(ViewBag.ficha,"Ficha1","Ficha1"))" class="form-control form-control-sm" id="cboFicha" >
                                        <option value="">Selecciona una ficha...</option>
                                    </select>
                                    <label for="cboFicha">Fichas</label>
                                </div>
                            </div>

                            <!-- Acudiente -->
                            <div class="fondomenu py-3 px-5">
                                <h6 class="m-0 text-center font-dark-light text-white "> Acudiente</h6>
                            </div>
                            <div class="col-md-6 py-3">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input asp-for="aprendiz.NombreCompletoAcudiente" class="form-control" id="inputName" type="text" placeholder="Ingresa tus nombres"  />
                                    <label for="inputTelefono">Nombre completo</label>
                                </div>
                            </div>
                            <div class="col-md-6 py-3">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input asp-for="aprendiz.CelularAcudiente" class="form-control" id="inputTelefono" type="tel" placeholder="Ingresa tu telefono"  />
                                    <label for="inputTelefono">Telefono</label>
                                </div>

                            </div>
                        </div>
                        <div class="form-floating mb-3 mb-md-0">
                            <input asp-for="aprendiz.CorreoAcuediente" class="form-control" id="inputEmail" type="email" placeholder="name@example.com"  />
                            <label for="inputTelefono">Correo acudiente</label>
                        </div>
                        <!-- fin Acudiente -->
                        <br />

                        <!--Registro Pruebas tyt-->

                        <div class="row mb-3" id="pruebatyt" style="display:none">
                            <div class="fondomenu py-3 px-5">
                                <h6 class="m-0 text-center font-dark-light text-white "> Pruebas tyt</h6>
                            </div>
                            <div class="col-md-6 py-3">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input asp-for="inscripcionTyt.CodigoInscripcion" class="form-control" id="inputcodigotyt" type="tel" placeholder="Ingresa Codigo de inscripcion"  />
                                    <label for="inputcodigotyt">Codigo Inscripcion</label>
                                </div>
                            </div>
                            <div class="col-md-6 py-3">
                                <div class="form-floating mb-3 mb-md-0">
                                    <select asp-for="inscripcionTyt.IdConvocatoria" class="form-control form-control-sm" asp-items="@(new SelectList(ViewBag.ItemsConvocatoria, "IdConvocatoria", "SemestreConvocatoria"))" id="cboConvocatoria" >
                                        <option value="">Selecciona una Convocatoria...</option>
                                    </select>
                                    <label for="cboConvocatoria">Convocatoria</label>
                                </div>
                            </div>
                            <div class="col-md-6 py-3">
                                <div class="form-floating mb-3">
                                    <select asp-items="@(new SelectList(ViewBag.ItemsDepartamento,"IdDepartamento","NombreDepartamento"))" class="form-control form-control-sm" id="cboDepartamentos2" >
                                        <option value="">Selecciona un departamento...</option>
                                    </select>
                                    <label for="cboDepartamentos2">Departamentos</label>
                                </div>
                            </div>
                            <div class="col-md-6 py-3">
                                <div class="form-floating mb-3 mb-md-0">
                                    <select asp-for="inscripcionTyt.Idciudad" asp-items="@(new SelectList(ViewBag.ciudades,"IdCiudad","NombreCiudad"))" class="form-control form-control-sm" id="cboCiudad2" >
                                        <option value="">Selecciona una ciudad...</option>
                                    </select>
                                    <label for="cboCiudad2">Ciudad</label>
                                </div>
                            </div>
                        </div>
                        <!--Fin registro tyt-->
                        <div class="mt-4 mb-0">
                            <div class="d-grid boton2">
                                <button type="submit" class="btn text-center btn-block" style="font-size:20px" onclick="return confirmSave()">Registrar</button>

                            </div>
                        </div>
                    </form>
                    

                </div>

            </div>
        </div>
    </div>
</div>
<!-- Modal de confirmación de registro -->
<div class="modal fade" id="confirmacionRegistroModal" tabindex="-1" aria-labelledby="confirmacionRegistroModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header fondo3">
                <h5 class="modal-title " id="confirmacionRegistroModalLabel">Confirmación de Registro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Está seguro de que desea registrar?
            </div>
            <div class="modal-footer boton2">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <a href="@Url.Action("Registro", "Aprendiz")" class="btn btn-primary" id="confirmarRegistroBtn">Confirmar Registro</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/js/scripts.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>

    <script>
        function confirmSave() {
            return confirm("¿Estás seguro de que deseas guardar?");

        }

    </script>

    <script>
        $(document).ready(function () {
            $('#cboDepartamentos').change(function () {
                var departamentoId = $(this).val(); // Obtener el valor seleccionado

                $.get('@Url.Action("CargarCiudades", "Aprendiz")', { departamentoId: departamentoId }, function (data) {
                    $('#cboCiudad').empty();
                    $.each(data, function (index, ciudad) {
                        $('#cboCiudad').append($('<option>',
                            {
                                value: ciudad.idCiudad,
                                text: ciudad.nombreCiudad
                            }
                        )
                        );

                    });
                });
            });
        });

        $(document).ready(function () {
            $('#cboDepartamentos2').change(function () {
                var departamentoId = $(this).val(); // Obtener el valor seleccionado

                $.get('@Url.Action("CargarCiudades", "Aprendiz")', { departamentoId: departamentoId }, function (data) {
                    $('#cboCiudad2').empty();
                    $.each(data, function (index, ciudad) {
                        $('#cboCiudad2').append($('<option>',
                            {
                                value: ciudad.idCiudad,
                                text: ciudad.nombreCiudad
                            }
                        )
                        );

                    });
                });
            });
        });
       
    </script>
    <script>
        $(document).ready(function () {
            $('#cboEstadoAprendiz').change(function () {
                var estadoAprendiz = $(this).val();
                if (estadoAprendiz === "4") {
                    $('#cboEstadoPruebatyt').prop('disabled', true);
                    $('#cboEstadoPruebatyt').val("6");
                } else {
                    $('#cboEstadoPruebatyt').prop('disabled', false);
                }
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#cboPrograma').change(function () {
                var programa = $(this).val(); // Obtener el valor seleccionado

                $.get('@Url.Action("Cargarprograma", "Aprendiz")', { programa: programa }, function (data) {
                    $('#cboFicha').empty();
                    $.each(data, function (index, ficha) {
                        $('#cboFicha').append($('<option>',
                            {
                                value: ficha.ficha1,
                                text: ficha.ficha1
                            }
                        )
                        );

                    });
                });
            });
        });
    </script>
}
