@{
    ViewData["Title"] = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Siscan_Vc_DAL.DataContext
@model Aprendiz



<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg m
t-5">
                <div class="card-header fondomenu ">
                    <img class="img-fluid mover2" src="~/img/agregar-usuario.png" alt="Alternate Text" width="40">
                    <h3 class="text-center font-dark-light my-4">Registro </h3>

                </div>
                <div class="card-body">
                    <form method="post" id="registroForm">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <select asp-for="IdTipodocumento" asp-items="@(new SelectList(ViewBag.ItemsTipoDoc,"IdTipoDocumento","TipoDocumento1"))" class="form-control form-control-sm" id="cboTipoDocumento">
                                        <option value="">Selecciona un tipo de documento...</option>
                                    </select>
                                    <label for="cboTipoDocumento">Tipo Documento</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input asp-for="NumeroDocumentoAprendiz" class="form-control" id="inputDocumento" type="text" placeholder="Ingresa tu numero de documento" />
                                    <label for="inputName">Numero de documento</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input asp-for="NombreAprendiz" class="form-control" id="inputName" type="text" placeholder="Ingresa tus nombres" />
                                    <label for="inputName">Nombres</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input asp-for="ApellidoAprendiz" class="form-control" id="inputLastName" type="text" placeholder="Ingresa tus apellidos" />
                                    <label for="inputLastName">Apellidos</label>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input asp-for="CelAprendiz" class="form-control" id="inputTelefono" type="tel" placeholder="Ingresa tu telefono" />
                                    <label for="inputTelefono">Telefono</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input asp-for="DireccionAprendiz" class="form-control" id="inputDireccion" type="text" placeholder="Ingresa tu direccion" />
                                    <label for="inputDireccion">Direccion</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input asp-for="CorreoAprendiz" class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />
                                    <label for="inputEmail">Correo</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">

                                    <select asp-for="IdEstadoAprendiz" asp-items="@(new SelectList(ViewBag.ItemsEstAprndz,"IdEstado","NombreEstado"))" class="form-control form-control-sm" id="cboEstadoAprendiz">
                                        <option value="">Selecciona un estado...</option>
                                    </select>
                                    <label for="cboEstadoAprendiz">Estado Aprendiz</label>
                                </div>
                            </div>



                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <select asp-items="@(new SelectList(ViewBag.ItemsDepartamento,"IdDepartamento","NombreDepartamento"))" class="form-control form-control-sm" id="cboDepartamentos">
                                        <option value="">Selecciona un departamento...</option>
                                    </select>
                                    <label for="cboDepartamentos">Departamentos</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <select asp-for="IdCiudad" asp-items="@(new SelectList(ViewBag.ItemsCiudad,"IdCiudad","NombreCiudad"))" class="form-control form-control-sm" id="cboMunicipio">
                                        <option value="4">Selecciona una ciudad...</option>
                                    </select>
                                    <label for="cboCiudad">Ciudad</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <select asp-for="IdEstadoTyt" asp-items="@(new SelectList(ViewBag.ItemsEstaTYT,"IdEstadotyt","DescripcionEstadotyt"))" class="form-control form-control-sm" id="cboEstadoPruebatyt">
                                        <option value="">Selecciona un estado...</option>
                                    </select>
                                    <label for="cboEstadoPruebatyt">Estado de inscripcion tyt</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <select asp-items="@(new SelectList(ViewBag.ItemsPrograma,"CodigoPrograma","NombrePrograma"))" class="form-control form-control-sm" id="cboPrograma">
                                        <option value="">Selecciona un programa...</option>
                                    </select>
                                    <label for="cboPrograma">Programa</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <select asp-for="Ficha" asp-items="@(new SelectList(ViewBag.ItemsFichas,"Ficha1","Ficha1"))" class="form-control form-control-sm" id="cboFicha">
                                        <option value="">Selecciona una ficha...</option>
                                    </select>
                                    <label for="cboFicha">Fichas</label>
                                </div>
                            </div>

                            <!-- Acudiente -->
                            <div class="fondomenu py-3 px-5">
                                <h6 class="m-0 text-center font-dark-light text-white "> Acudiente</h6>
                            </div>
                            <div class="col-md-6 py-3">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input asp-for="NombreCompletoAcudiente" class="form-control" id="inputName" type="text" placeholder="Ingresa tus nombres" />
                                    <label for="inputTelefono">Nombre completo</label>
                                </div>
                            </div>
                            <div class="col-md-6 py-3">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input asp-for="CelularAcudiente" class="form-control" id="inputTelefono" type="tel" placeholder="Ingresa tu telefono" />
                                    <label for="inputTelefono">Telefono</label>
                                </div>

                            </div>
                        </div>
                        <div class="form-floating mb-3 mb-md-0">
                            <input asp-for="CorreoAcuediente" class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />
                            <label for="inputTelefono">Correo acudiente</label>
                        </div>
                        <!-- fin Acudiente -->
                        <br />

                        <!-- Pruebas tyt-->

                        <div class="row mb-3" id="pruebatyt" style="display:none">
                            <div class="fondomenu py-3 px-5">
                                <h6 class="m-0 text-center font-dark-light text-white "> Pruebas tyt</h6>
                            </div>
                            <div class="col-md-6 py-3">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="inputcodigotyt" type="tel" placeholder="Ingresa Codigo de inscripcion" />
                                    <label for="inputcodigotyt">Codigo Inscripcion</label>
                                </div>
                            </div>
                            <div class="col-md-6 py-3">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="correoAcudiente" type="tel" placeholder="Ingresa telefono acudiente" />
                                    <label for="inputTelefono">Telefono</label>
                                </div>
                            </div>
                            <div class="col-md-6 py-3">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="inputTelefono" type="tel" placeholder="Ingresa nombre acudiente" />
                                    <label for="inputTelefono">Nombre completo</label>
                                </div>
                            </div>
                            <div class="col-md-6 py-3">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="correoAcudiente" type="tel" placeholder="Ingresa telefono acudiente" />
                                    <label for="inputTelefono">Telefono</label>
                                </div>
                            </div>
                        </div>

                        <div class="mt-4 mb-0">
                            <div class="d-grid boton2"><button type="submit" class="btn text-center btn-block" style="font-size:20px" data-bs-toggle="modal" data-bs-target="#confirmacionRegistroModal">Registrar</button></div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Modal de confirmación de registro -->
<div class="modal fade" id="confirmacionRegistroModal" tabindex="-1" aria-labelledby="confirmacionRegistroModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header fondo3">
                <h5 class="modal-title " id="confirmacionRegistroModalLabel">Confirmación de Registro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Está seguro de que desea registrar?
            </div>
            <div class="modal-footer boton2">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <a href="@Url.Action("Registro", "Aprendiz")" class="btn btn-primary" id="confirmarRegistroBtn">Confirmar Registro</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/scripts.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#confirmarRegistroBtn').on('click', function () {
                $('#registroForm').submit();
                alert("¡Registro exitoso!");
            });
        });

        // $(document).ready(function () {

        //     $('#registroFform').submit(function (e) {
        //         e.preventDefault();
        //         $("#confirmacionRegistroModal").modal('show');

        //         $("#confirmarRegistroBtn").on('click', function () {

        //             $("#registroForm").attr("asp-action", "/Aprendiz/Registro");
        //             $("#registroForm").submit();

        //             $.ajax({
        //                 url: '/Aprendiz/Registro',
        //                 type: 'POST',
        //                 datatype: 'Json',
        //                 data: $('#registroForm').serialize(),
        //                 success: function (response) {
        //                     if (response.success) {

        //                         alert("¡Registro exitoso!");
        //                     } else {

        //                         alert("No se pudo completar el registro. Inténtalo de nuevo.");
        //                     }
        //                 },
        //                 error: function () {

        //                     alert("Se produjo un error al procesar la solicitud. Inténtalo de nuevo.");
        //                 }
        //             });

        //             $("#confirmacionRegistroModal").modal('hide');
        //         });
        //     });
        // });


    </script>

}
