@{
    ViewData["Title"] = "consultar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Siscan_Vc_AppWeb.Models.ViewModels.VMEmpresaAprendizCoformador

<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">
                <div class="col py-3">
                    <div class="card shadow mb-4">
                        <div class="fondomenu py-3 px-5 ">
                            <h1>Consultar</h1>
                        </div>
                        <div class="card-body">
                            <form action="consultar" method="get">
                                <div class="list-group">
                                    <label for="exampleDataList" class="form-label">Digite el Nit de la Empresa</label>
                                    <input class="form-control" name="nitEmpresa" type="text" placeholder="Nit Empresa..." aria-label="Nit Empresa..." aria-describedby="btnNavbarSearch" width="150" />
                                    <button style="height:35px; margin-top:5px" type="submit" class="boton" id="btnNavbarSearch">Buscar</button>
                                </div>
                            </form>
                            <br />
                            @if (TempData["EmpresaNoExiste"] != null)
                            {
                                <div class="alert alert-danger" role="alert"> @TempData["EmpresaNoExiste"] </div>
                            }
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xl-6 col-lg-5">
                            <div class="card shadow mb-4">
                                <div class="fondomenu py-3 px-5">
                                    <img src="~/img/edificio-de-oficinas.png" alt="Alternate Text" width="50" />
                                    <h6 class="m-0 text-uppercase font-weight-bold text-white ">Empresa</h6>
                                </div>
                                <div class="card-body">
                                    <div class="list-group" style="height: 100% !important ;">
                                        <div class="card">
                                            @if (Model.empresa != null)
                                            {
                                                <div class="col">
                                                    <div class="card">
                                                        <div class="card-body fondomenu">
                                                            <br />
                                                            <center class="m-t-30 pb-3">
                                                                <h4 id="card-title" class="m-0 text-uppercase font-weight-bold text-white">@Model.empresa.NombreEmpresa</h4>
                                                            </center>
                                                        </div>
                                                        <div class="card-body">
                                                            <small class="text-muted">Nit empresa:</small>
                                                            <h6 id="card-email" class="m-0font-weight-bold text-dark">@Model.empresa.Nitmpresa</h6>
                                                            <small class="text-muted">Celular:</small>
                                                            <h6 id="card-email" class="m-0font-weight-bold text-dark">@Model.empresa.TelefonoEmpresa</h6>
                                                            <small class="text-muted">Representante legal:</small>
                                                            <h6 id="card-email" class="m-0font-weight-bold text-dark">@Model.empresa.RepresentanteLegal</h6>
                                                            <small class="text-muted">Direccion:</small>
                                                            <h6 id="card-email" class="m-0font-weight-bold text-dark">@Model.empresa.DireccionEmpresa</h6>
                                                            <small class="text-muted">Ciudad:</small>
                                                            <h6 id="card-email" class="m-0font-weight-bold text-dark">@Model.empresa.IdCiudad</h6>                                                       
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col">
                                                    <div class="card">
                                                        <div class="card-body fondomenu">
                                                            <br />
                                                            <center class="m-t-30 pb-3">
                                                                <h4 id="card-title" class="m-0 text-uppercase font-weight-bold text-white">NombreEmpresa</h4>
                                                            </center>
                                                        </div>
                                                        <div class="card-body">
                                                            <small class="text-muted">Nit empresa:</small>
                                                            <h6 id="card-email" class="m-0font-weight-bold text-dark">Nitmpresa</h6>
                                                            <small class="text-muted">Celular:</small>
                                                            <h6 id="card-email" class="m-0font-weight-bold text-dark">TelefonoEmpresa</h6>
                                                            <small class="text-muted">Representante legal:</small>
                                                            <h6 id="card-email" class="m-0font-weight-bold text-dark">RepresentanteLegal</h6>
                                                            <small class="text-muted">Direccion:</small>
                                                            <h6 id="card-email" class="m-0font-weight-bold text-dark">DireccionEmpresa</h6>
                                                            <small class="text-muted">Ciudad:</small>
                                                            <h6 id="card-email" class="m-0font-weight-bold text-dark">Ciudad</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5">
                    <div class="card shadow mb-4">
                        <div class="fondomenu py-3 px-5 ">
                            <img src="~/img/entrenador.png" alt="Alternate Text" width="50" />
                            <h6 class="m-0 text-uppercase font-weight-bold text-white ">Coformador Empresa</h6>
                        </div>
                        <div class="card-body">
                            <div class="list-group" style="height: 320px !important ;">
                                <table class="table table-bordered table-responsive" id="tbdata" cellspacing="1" style="width:100%">
                                    <thead class="boton2 ms-auto">
                                        <tr>
                                            <th>Documento</th>
                                            <th>Nombres</th>
                                            <th>Apellidos</th>
                                            <th>Celular</th>
                                            <th>Correo</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach(var coformador in Model.coformadores)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(c=> coformador.NumeroDocumentoCoformador)</td>
                                                    <td>@Html.DisplayFor(c=> coformador.NombreCoformador)</td>
                                                    <td>@Html.DisplayFor(c=> coformador.ApellidoCoformador)</td>
                                                    <td>@Html.DisplayFor(c=> coformador.CelCoformador)</td>
                                                    <td>@Html.DisplayFor(c=> coformador.CorreoCoformador)</td>
                                                    <td>
                                                        <a class="btn  btn-sm" asp-controller="" asp-action="" asp-route-numDoc="">
                                                            <img src="~/img/editar.png" alt="Alternate Text" width="25" />
                                                        </a>
                                                        <a class="btn btn-sm btn-eliminar" data-id="">
                                                            <img src="~/img/borrar (1).png" alt="Alternate Text" width="25" data-bs-toggle="modal" />
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
<div class="col">
    <div class="card shadow mb-4">
        <div class="fondomenu py-3 px-5 ">
            <img src="~/img/entrenador.png" alt="Alternate Text" width="50" />
            <h6 class="m-0 text-uppercase font-weight-bold text-white ">Aprendices Vinculados</h6>
        </div>
        <div class="card-body">
            <div class="list-group">
                <table class="table table-bordered table-responsive" id="tbdata" cellspacing="1" style="width:100%">
                    <thead class="boton2 ms-auto">
                        <tr>
                            <th>Documento</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Telefono</th>
                            <th>Correo</th>
                            <th>Ficha</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach(var aprendiz in Model.aprendices)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(a=> aprendiz.NumeroDocumentoAprendiz)</td>
                                    <td>@Html.DisplayFor(a=> aprendiz.NombreAprendiz)</td>
                                    <td>@Html.DisplayFor(a=> aprendiz.ApellidoAprendiz)</td>
                                    <td>@Html.DisplayFor(a=> aprendiz.CelAprendiz)</td>
                                    <td>@Html.DisplayFor(a=> aprendiz.CorreoAprendiz)</td>
                                    <td>@Html.DisplayFor(a=> aprendiz.Ficha)</td>
                                    <td>
                                        <a class="btn  btn-sm" asp-controller="" asp-action="" asp-route-numDoc="">
                                            <img src="~/img/editar.png" alt="Alternate Text" width="25" />
                                        </a>
                                        <a class="btn btn-sm btn-eliminar" data-id="">
                                            <img src="~/img/borrar (1).png" alt="Alternate Text" width="25" data-bs-toggle="modal" />
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#inputEmpresa').on('input', function () {
                var term = $(this).val();
                $.ajax({
                    url: '@Url.Action("nombreEmpresa", "Empresa")',
                    type: 'GET',
                    data: { term: term },
                    success: function (data) {
                        $('#Empresas').empty();
                        $.each(data, function (index, value) {
                            $('#Empresas').append('<option value="' + value + '"></option>');
                        });
                    }
                });
            });

            $('#inputEmpresa').on('change', function () {
                var selectedValue = $(this).val();
                $('#labelEmpresa').text(selectedValue);

            });
        });
    </script>
}

