@{
    ViewData["Title"] = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Siscan_Vc_AppWeb.Models.ViewModels.ModelViewEmpresa

<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">
                <br />
                <br />
                <br />
                <div class="row">
                    <div class="col-xl-6 col-lg-5">
                        <div class="card shadow mb-4">
                            <div class="fondomenu py-3 px-5">
                                <img src="~/img/edificio-de-oficinas.png" alt="Alternate Text" width="50" />
                                <h6 class="m-0 text-uppercase font-weight-bold text-white">Empresa</h6>
                            </div>
                            <div class="card-body">
                                @* estas son los alertas de las validaciones que se manejan con el tempdata desde el controlador  *@
                                @if (TempData["ValEmpresaExist"] != null)
                                {
                                    <div class="alert alert-danger" role="alert"> @TempData["ValEmpresaExist"] </div>
                                }
                                @if (TempData["ValCamposVaciosEmpresa"] != null)
                                {
                                    <div class="alert alert-danger" role="alert"> @TempData["ValCamposVaciosEmpresa"] </div>
                                }
                                @if (TempData["RegistroEmpresaExitoso"] != null)
                                {
                                    <div class="alert alert-success" role="alert"> @TempData["RegistroEmpresaExitoso"] </div>
                                }
                                <form id="registroForm" method="post" asp-action="Registro">
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3">
                                                <input asp-for="empresa.Nitmpresa" class="form-control" id="inputNit" type="text" placeholder="Ingresa el NIT de la empresa" />
                                                <label for="inputNit">NIT Empresa</label>
                                                <span asp-validation-for="empresa.Nitmpresa" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input asp-for="empresa.NombreEmpresa" class="form-control" id="inputName" type="text" placeholder="Ingresa nombre de la empresa" />
                                                <label for="inputName">Nombre Empresa</label>
                                                <span asp-validation-for="empresa.NombreEmpresa" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input asp-for="empresa.TelefonoEmpresa" class="form-control" id="inputTelefono" type="tel" placeholder="Ingresa telefono de la empresa" />
                                                <label for="inputTelefono">Telefono Empresa</label>
                                                <span asp-validation-for="empresa.TelefonoEmpresa" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <input asp-for="empresa.DireccionEmpresa" class="form-control" id="inputDireccion" type="text" placeholder="Ingresa direccion de la empresa" />
                                                <label for="inputDireccion">Direccion Empresa</label>
                                                <span asp-validation-for="empresa.DireccionEmpresa" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <select asp-items="@Model.listaOpcDepartamento" class="form-control form-control-sm" id="cboDepartamentos">
                                                    <option>Selecciona una departamento...</option>
                                                </select>
                                                <label for="cboDepartamentos">Departamentos</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <select asp-for="empresa.IdCiudad" asp-items="@Model.listaOpcCiudad" class="form-control form-control-sm" id="cboCiudad">
                                                    <option>Selecciona una municipio...</option>
                                                </select>
                                                <label for="cboCiudad">Ciudad</label>
                                                <span asp-validation-for="empresa.IdCiudad" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3 mb-md-0">
                                        <input asp-for="empresa.RepresentanteLegal" class="form-control" id="inputrepresentanteLegal" type="text" placeholder="Ingrese el representante legal" />
                                        <label for="inputrepresentanteLegal">Representante legal</label>
                                        <span asp-validation-for="empresa.RepresentanteLegal" class="text-danger"></span>
                                    </div>
                                    <div class="mt-4 mb-0">
                                        <div class="d-grid boton2">
                                            <button type="submit" class="btn text-center btn-block" style="font-size:20px" onclick="return confirmSave()">Registrar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    @*formulario registro de coformador*@
                    <div class="col-xl-6 col-lg-5">
                        <div class="card shadow mb-4">
                            <div class="fondomenu py-3 px-5 ">
                                <img src="~/img/entrenador.png" alt="Alternate Text" width="50" />
                                <h6 class="m-0 text-uppercase font-weight-bold text-white ">Coformador Empresa</h6>
                            </div>
                            <div class="card-body">
                                <div class="">
                                    @* estas son los alertas de las validaciones que se manejan con el tempdata desde el controlador  *@
                                    @if (TempData["ValCoformadorExist"] != null)
                                    {
                                        <div class="alert alert-danger" role="alert"> @TempData["ValCoformadorExist"] </div>
                                    }
                                    @if (TempData["RegistroCoformadorExitoso"] != null)
                                    {
                                        <div class="alert alert-success" role="alert"> @TempData["RegistroCoformadorExitoso"] </div>
                                    }
                                    @if (TempData["ValEmpresaNoExist"] != null)
                                    {
                                        <div class="alert alert-danger" role="alert"> @TempData["ValEmpresaNoExist"] </div>
                                    }
                                    <form id="registroForm" method="post" asp-action="Registro">
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3">
                                                    <input asp-for="coformador.NumeroDocumentoCoformador" class="form-control" id="inputDocumento" type="text" placeholder="Numero de documento" />
                                                    <label for="inputName">Numero de documento</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input asp-for="coformador.NombreCoformador" class="form-control" id="inputName" type="text" placeholder="Nombres" />
                                                    <label for="inputName">Nombres</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input asp-for="coformador.ApellidoCoformador" class="form-control" id="inputLastName" type="text" placeholder="Apellidos" />
                                                    <label for="inputLastName">Apellidos</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    <input asp-for="coformador.CorreoCoformador" class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />
                                                    <label for="inputEmail">Correo</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input asp-for="coformador.CelCoformador" class="form-control" id="inputCelular" type="tel" placeholder="Celular" />
                                                    <label for="inputCelular">Celular</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input asp-for="coformador.NitEmpresa" class="form-control" id="inputDireccion" type="text" placeholder="NIT de la Empresa " />
                                                    <label for="inputDireccion">NIT Empresa</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-4 mb-0">
                                            <div class="d-grid boton2"><button type="submit" class="btn text-center btn-block" data-bs-toggle="modal" data-bs-target="#RegistroCoformadorModal">Registrarse</button></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/scripts.js" asp-append-version="true"></script>
    <script src="~/js/validations.js" asp-append-version="true"></script>
    <script>
        //funcion de alerta de confirmacion  para guardar
        function confirmSave() {
            confirm("¿Seguro que quieres guardar?")
        }

        $("#cboDepartamentos").change(function () {
            //funcion para anidar los select de departamento y ciudad
            var departamentoId = $(this).val();
            $.get('@Url.Action("CargarCiudades", "Empresa")', { departamentoId, departamentoId }, function (data) {
                $('#cboCiudad').empty();
                $.each(data, function (index, ciudad) {
                    $('#cboCiudad').append($('<option>',
                        {
                            value: ciudad.idCiudad,
                            text: ciudad.nombreCiudad
                        }
                    ));
                });
            });
        });
    </script>


    <script>
        $(document).ready(function () {
            $("#confirmarRegistroBtn").click(function () {
                // Aquí puedes realizar una llamada Ajax para realizar el registro
                // Por ahora, simularemos el registro exitoso
                var registroExitoso = true; // Cambia a false para simular un registro fallido

                if (registroExitoso) {
                    // Mostrar alerta de registro exitoso
                    alert("¡Registro exitoso!");

                } else {
                    // Mostrar alerta de fallo de registro
                    alert("No se pudo completar el registro. Inténtalo de nuevo.");
                }

                // Cierra el modal
                $("#RegistroCoformadorModal").modal('hide');
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#confirmarRegistroBtn2").click(function () {
                // Aquí puedes realizar una llamada Ajax para realizar el registro
                // Por ahora, simularemos el registro exitoso
                var registroExitoso = true; // Cambia a false para simular un registro fallido

                if (registroExitoso) {
                    // Mostrar alerta de registro exitoso
                    alert("¡Registro exitoso!");

                } else {
                    // Mostrar alerta de fallo de registro
                    alert("No se pudo completar el registro. Inténtalo de nuevo.");
                }

                // Cierra el modal
                $("#RegistroEmpresaModal").modal('hide');
            });
        });
    </script>
    <script src="~/js/scripts.js" asp - append - version="true"></script>
}

